/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/coloc -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    eqtl_snps = "https://yascp.cog.sanger.ac.uk/public/coloc/snp_pos.txt"
    bfile = '/scratch/cellfunc/shared/HUVEC_genotype/Imputed_Genotypes_Data_All_HUVEC_Samples'
    gwas_list = "$projectDir/assets/sample_input/gwas.list"
    eqtl_list = "$projectDir/assets/sample_input/eqtl.list"
    yaml = "$projectDir/assets/sample_input/input.yml"

}
